{%- comment -%}
  Mega-menu dropdown panel.
  Renders subcategories in columns with optional promo images.

  Usage:
  {% render 'mega-menu', link: link, blocks: section.blocks %}
{%- endcomment -%}

{%- liquid
  assign has_children = false
  if link.links.size > 0
    assign has_children = true
  endif
-%}

{%- if has_children -%}
  <div class="mega-menu">
    <div class="mega-menu__inner page-width">
      <div class="mega-menu__columns">
        {%- for child_link in link.links -%}
          <div class="mega-menu__column">
            {%- if child_link.links.size > 0 -%}
              <span class="mega-menu__heading">{{ child_link.title }}</span>
              <ul class="mega-menu__list" role="menu">
                {%- for grandchild_link in child_link.links -%}
                  <li role="none">
                    <a
                      href="{{ grandchild_link.url }}"
                      class="mega-menu__link{% if grandchild_link.active %} mega-menu__link--active{% endif %}"
                      role="menuitem"
                    >
                      {{ grandchild_link.title }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
              <a href="{{ child_link.url }}" class="mega-menu__shop-all">
                {{ 'general.menu.shop_all' | t | default: 'Shop all' }} {{ child_link.title }}
                {%- render 'util-icon', icon: 'arrow-right', size: 14 -%}
              </a>
            {%- else -%}
              <a
                href="{{ child_link.url }}"
                class="mega-menu__link mega-menu__link--top{% if child_link.active %} mega-menu__link--active{% endif %}"
                role="menuitem"
              >
                {{ child_link.title }}
              </a>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>

      {%- comment -%}Promo block matching this menu item{%- endcomment -%}
      {%- for block in blocks -%}
        {%- if block.type == 'mega_menu_promo' and block.settings.menu_item == link.title -%}
          <div class="mega-menu__promo" {{ block.shopify_attributes }}>
            {%- if block.settings.image != blank -%}
              <div class="mega-menu__promo-image">
                {%- render 'util-responsive-image',
                  image: block.settings.image,
                  sizes: '300px',
                  widths: '300,600',
                  aspect_ratio: '3/4'
                -%}
              </div>
            {%- endif -%}
            {%- if block.settings.heading != blank -%}
              <p class="mega-menu__promo-heading">{{ block.settings.heading }}</p>
            {%- endif -%}
            {%- if block.settings.link != blank -%}
              <a href="{{ block.settings.link }}" class="mega-menu__promo-link btn btn--sm btn--secondary">
                {{ block.settings.link_text | default: 'Shop now' }}
              </a>
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
{%- endif -%}
